gmail
.log
result*.json
result.csv
consume/*
data/
akaunting/
delivery-partners/
download/
prompts/
env.txt
queries.txt
RestOps.excalidraw
response.txt
response_summary.txt
docker-compose.env
.env
document-processor-config/service-account.json
training/operations.json
